/*-------------------category------------------*/
.category__heading {
	margin-top: 6.4rem;
	font-family: var(--font-primary);
	font-size: 16px;
	font-weight: 700;

	line-height: 19.2px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: var(--pink);
}

.category__sub-heading {
	margin-top: 0;
	font-family: var(--font-primary);
	font-size: 32px;
	font-weight: 700;

	line-height: 38.4px;
	text-align: center;
	color: var(--black-blue);
}

.category__desc {
	padding: 0 32px;
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: 400;

	line-height: 25.6px;
	text-align: center;
	color: var(--black-05);
}

@media (min-width: 769px) and (max-width: 1025px) {
	.category__heading {
		font-size: 2.3rem;
		line-height: 2.76rem;
	}

	.category__sub-heading {
		font-size: 4rem;
		line-height: 4.8rem;
		margin-bottom: 3.2rem;
	}

	.category__desc {
		font-size: 1.8rem;
		line-height: 2.88rem;
	}
}

@media (min-width: 1026px) {
	.category__heading {
		font-size: 2.3rem;
		line-height: 2.76rem;
		text-align: left;
	}

	.category__sub-heading {
		margin-bottom: 2.4rem;
		margin-top: 0;
		font-size: 4.4rem;
		line-height: 5.28rem;
		text-align: left;
	}

	.category__desc {
		padding: 0;
		font-size: 1.8rem;
		line-height: 2.88rem;
		margin-bottom: 7.2rem;
		text-align: left;
	}
}
/*--------------------------service card-------------------------*/
.service-card {
	border-radius: 3.2rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
}

.service-card:hover {
	border: none;
	box-shadow: 0 4.1rem 839rem 0 #0000001a;
}

.service-card__icon {
	display: block;
	margin: 3.2rem auto;
	width: 6.4rem;
	height: 6.4rem;
	height: auto;
}

.service-card__heading {
	margin-bottom: 2.4rem;
	font-family: var(--font-primary);
	font-size: 2.4rem;
	font-weight: 700;

	line-height: 2.28rem;
	text-align: center;
	text-transform: capitalize;
	color: var(--black-blue);
}

.service-card__desc {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.88rem;
	text-align: center;

	padding: 0.8rem 2.6rem;
	margin-bottom: 2.4rem;
	color: var(--black-05);
}

@media (min-width: 469px) and (max-width: 768px) {
	.service-card {
		max-width: 70%;
		margin: auto;
	}
}

@media (min-width: 769px) and (max-width: 914px) {
	.service-card__heading {
		padding: 0 3.8rem;
	}
}

@media (min-width: 915px) and (max-width: 1025px) {
	.service-card__heading {
		padding: 0 6.4rem;
	}
}

@media (min-width: 769px) and (max-width: 963px) {
	.service-card__desc {
		padding: 0 3.4rem;
	}
}

@media (min-width: 964px) and (max-width: 1025px) {
	.service-card__desc {
		padding: 0 6.4rem;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.service-card {
		flex: 1;
	}

	.service-card__heading {
		font-size: 2.8rem;
		line-height: 3.36rem;
	}

	.service-card__icon {
		margin-top: 6.4rem;
		margin-bottom: 6.4rem;
	}

	.service-card__desc {
		margin-top: 3.2rem;
	}
}

@media (min-width: 1026px) {
	.service-card {
		flex: 1;
		max-width: 35rem;
		min-height: 44.3rem;
	}

	.service-card__icon {
		margin-top: 6.6rem;
		margin-bottom: 6.6rem;
	}

	.service-card__heading {
		margin-bottom: 2.8rem;
		font-size: 2.8rem;
		line-height: 3.36rem;
	}

	.service-card__desc {
		padding: 0.8rem 6.4rem;
	}
}
/*---------------destination card------------------*/
.destination-cards {
	min-height: 57.5rem;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	gap: 3.2rem;
}

.destination-card {
	width: 100%;
	border-radius: 0 0 3.2rem 3.2rem;
	min-height: 56rem;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05),
		0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03),
		0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
}

.destination-card__image {
	border-radius:3.2rem 3.2rem 0 0;
	max-width: 100%;
	width: 39.8rem;
	display: block;
	margin: auto;
	height: auto;
}

.destination-card__desc {
	max-width: 84%;
	display: block;
	margin: auto;
}

.card__desc__heading {
	display: flex;
	flex-direction: column;
}

.card__desc__title {
	margin: 0 0 1.6rem;
	font-family: var(--font-primary);
	font-size: 2.3rem;

	font-weight: 700;
	line-height: 2.76rem;
	text-align: left;
}

.card__desc__price {
	margin: 3.2rem 0 0.8rem;
	font-family: var(--font-primary);
	font-size: 23px;
	font-weight: 700;

	line-height: 27.6px;
	text-align: left;
	color: var(--pink);
}

.card__desc__location {
	margin: 0 0 3.2rem;
	font-family: var(--font-secondary);
	font-size: 18px;
	font-weight: 400;

	line-height: 28.8px;
	text-align: left;
	color: var(--black-075);
}

.card__desc__review {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 3.2rem 0;
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;

	line-height: 2.76rem;
	text-align: left;
	color: var(--light-coral);
}

.card__desc__review::after {
	content: url("../assets/images/icons/destination-icons/destination-rating.svg");
	width: 2rem;
	height: 1.9rem;
	margin-left: 0.8rem;
}
@media (max-width: 468px) {
	.height-fit {
		height: 34.2rem;
	}
}

@media (min-width: 469px) and (max-width: 768px) {
	.destination-card {
		width: 75%;
		margin: auto;
	}

	.destination-card__image {
		min-width: 100%;
		height: auto;
	}
}

@media (min-width: 769px) and (max-width: 885px) {
	.destination-card__desc {
		max-width: 82%;
	}

	.destination-card__image {
		max-width: 100%;
		height: auto;
	}

	.destination-cards, .destination-card {
		min-height: 44.5rem;
	}

	.card__desc__heading {
		min-height: 14.6rem;
	}

	.card__desc__title {
		font-size: 1.8rem;
	}

	.card__desc__location {
		font-size: 1.6rem;
	}

	.card__desc__review, .card__desc__location {
		margin-bottom: 1.6rem;
	}

}

@media (min-width: 886px) and (max-width: 1025px) {
	.destination-card__desc {
		max-width: 76%;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.destination-cards {
		flex-direction: row;
		flex: 1;
	}
	.destination-card__image {
		min-width: 100%;
}
}
@media (min-width: 1026px) {
	.destination-cards {
		flex-direction: row;
	}

	.destination-card__image {
		height: auto;
	}

	.destination-card {
		flex: 1;
	}

	.card__desc__heading {
		flex-direction: row-reverse;
		gap: 3.2rem;
	}

	.card__desc__title {
		margin-top: 3.2rem;
	}
}

@media (min-width: 1026px) and (max-width: 1369px) {
	.card__desc__heading {
		min-height: 16rem;
		gap: 1.6rem;
	}

		.card__desc__title {
		margin-bottom: 0;
	}

	.destination-cards, .destination-card {
		min-height: 50rem;
	}
}
@media (min-width: 1370px) {
		.card__desc__heading {
			gap: 3.2;
		}
}
/*------------------travel point achievement----------------*/
.travel-point__achievements {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1.6rem;
}

.travel-point__achievement {
	display: flex;
	flex-direction: column;
	border-radius: 3.2rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
	gap: 1.6em;
}

.travel-point__achievement:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 20px 20px 0 rgba(0, 0, 0, 0.09),
		0 45px 27px 0 rgba(0, 0, 0, 0.05), 0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);
}

.achievement__number {
	font-family: var(--font-primary);
	font-size: 3.5rem;
	font-weight: 700;

	line-height: 4.2rem;
	color: var(--light-coral);
	text-align: center;
}

.achievement__desc {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;
	line-height: 2.88rem;
	color: var(--black-blue);
}

@media (min-width: 468px) {
	.travel-point__achievements {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 3.2rem;
	}
}

@media (min-width: 469px) and (max-width: 768px) {
	.travel-point__achievement {
		min-width: 40rem;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.travel-point__achievement {
		min-width: 40rem;
		height: auto;
	}
}

@media (min-width: 1026px) {
	.travel-point__achievement {
		min-width: 20.4rem;
	}
}
/*-------------------key features list-----------------------*/
.key-feature {
	border-radius: 3.2rem;
	padding: 32px 0 32px 32px;
	border: 1px solid transparent;
	margin: 0 48px;
}

.key-feature:hover {
	padding: 32px 0 32px 32px;
	border: 1px solid rgba(25, 24, 37, 0.1);
}

.key-feature__icon {
	border-radius: 3.2rem;
	padding: 3.2rem;
	max-width: 100%;
	width: 10rem;
	height: 10rem;
}

.location {
	background-color: var(--light-coral);
}

.schedule {
	background-color: var(--yellow);
}

.discount {
	background-color: var(--pink);
}

.key-feature__header {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 2.76rem;
	text-align: left;
	margin-bottom: 0;
}

.key-feature__desc {
	margin: 0.8rem 3.2rem 0 0;
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	line-height: 2.88rem;
	text-align: left;
	color: var(--black-075);
}

@media (min-width: 468px) {
	.key-feature {
		display: flex;
		gap: 3.2rem;
	}

	.key-feature__header {
		margin: 0;
	}

	.key-feature__desc {
		margin-top: 1.6rem;
	}
}

@media (min-width: 469px) and (max-width: 768px) {
	.key-feature__desc {
		margin-right: 0;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.key-feature {
		margin: 0 2.4rem;
	}
}

@media (min-width: 1026px) {
	.key-feature {
		margin-left: 0;
		margin-top: -0.8rem;
	}
	.key-feature__desc {
		margin-right: 0;
	}
}
/*---------------Button---------------------*/
.authenticated-button {
	display: flex;
	gap: 0.8rem;
	list-style: none;
	padding: 0;
	margin-top: 1.2rem;
}

.button {
	border-radius: 10rem;
	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 700;

	line-height: 1.68rem;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	padding: 1.6rem 3.2rem;
}

.button-white {
	color: var(--dark-blue);
	margin: auto;
	cursor: pointer;
}

.button-purple {
	margin: auto;
	background-color: var(--purple);
	color: var(--white);
}

.subscription .button-purple {
	display: block;
	width: 80%;
	padding: 2.4rem 6.4rem;
	border-radius: 1.6rem;

	font-family: var(--font-primary);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.92rem;
	text-align: center;
	border: none;
}

.button-pink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22.4rem;
	margin: auto;

	border-radius: 10rem;
	padding: 1.6rem 0;
	color: var(--pink);
	margin-top: -2.6rem;
	cursor: pointer;
	box-shadow: 0px 0px 0px 0px #00000012, 0px 34px 75px 0px #00000012, 0px 137px 137px 0px #0000000f,
		0px 308px 185px 0px #0000000a, 0px 548px 219px 0px #00000003, 0px 856px 240px 0px #00000000;
}

.button-pink::after {
	content: url("../assets/images/icons/banner-icons/banner-item.svg");
	margin-left: 0.8rem;
}

.banner .button-purple {
	display: block;
	width: 100%;
	margin-bottom: 2.4rem;
	padding: 2.4rem 0;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 20px 20px 0 rgba(0, 0, 0, 0.09),
	0 45px 27px 0 rgba(0, 0, 0, 0.05), 0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);
	cursor: pointer;
}

.banner .button-white {
	width: 100%;
	border: 0.1rem solid var(--white);
	padding: 2.4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner .button-white::before {
	content: url("../assets/images/icons/banner-icons/banner-button.svg");
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 10px;
}

@media (max-width: 768px) {
	.authenticated-button {
		flex-direction: column;
	}
}

@media (min-width: 468px) {
	.banner__button {
		display: flex;
		gap: 0.8rem;
		margin-bottom: 6.4rem;
	}

	.banner .button-purple {
		margin: 0;
		max-width: 14.1rem;
		height: 4.9rem;
		padding: 1.6rem 3.2rem;
		text-align: center;
	}

	.banner .button-white {
		margin: 0;
		max-width: 18.1rem;
		height: 5.6rem;
	}
}

@media (min-width: 469px) and (max-width: 768px) {
	.banner__button {
		justify-content: center;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.banner__button {
		justify-content: center;
		margin-top: 0.8rem;
		margin-right: 1.6rem;
	}

	.subscription .button-purple {
		width: 23.5rem;
		min-height: 9.6rem;
		border-radius: 3.2rem;
		font-size: 2.3rem;
		line-height: 2.76rem;
		margin-top: 0;
	}

	.button-pink {
		margin: -4.2rem auto 0;
	}
}

@media (min-width: 1026px) {
	.button-pink {
		margin: 0;
		max-width: 22.4rem;
		box-shadow: none;
	}

	.button-pink:hover {
		box-shadow: 0px 0px 0px 0px #00000012, 0px 34px 75px 0px #00000012, 0px 137px 137px 0px #0000000f,
			0px 308px 185px 0px #0000000a, 0px 548px 219px 0px #00000003, 0px 856px 240px 0px #00000000;
	}

	.banner__button {
		justify-content: flex-start;
		margin-top: 3.2rem;
	}

	.subscription .button-purple {
		width: 23.5rem;
		min-height: 9.6rem;
		border-radius: 3.2rem;
		font-size: 2.3rem;
		line-height: 2.76rem;
	}

	.banner .button-purple {
		box-shadow: none;
	}

	.banner .button-white:hover,
	.banner .button-purple:hover {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 20px 20px 0 rgba(0, 0, 0, 0.09),
			0 45px 27px 0 rgba(0, 0, 0, 0.05), 0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);
	}
}
/*----------------Arrow button---------*/
.arrow {
	width: 1.6rem;
	height: 1.6rem;
	margin-top: 38%;
	margin-left: 38%;
}

.arrow-button {
	display: flex;
	justify-content: space-between;
	gap: 3.2rem;
	margin-bottom: 3.2rem;
}

.arrow-button__left-dir {
	background: var(--white);
	min-width: 6.4rem;
	min-height: 6.4rem;
	border-radius: 10rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
	cursor: pointer;
}

.arrow-button__right-dir {
	min-width: 6.4rem;
	min-height: 6.4rem;
	border-radius: 10rem;
	background: var(--purple);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 7px 16px 0px rgba(0, 0, 0, 0.07),
		0px 29px 29px 0px rgba(0, 0, 0, 0.06), 0px 65px 39px 0px rgba(0, 0, 0, 0.04),
		0px 116px 46px 0px rgba(0, 0, 0, 0.01), 0px 181px 51px 0px rgba(0, 0, 0, 0);
	cursor: pointer;
}

.testimonial .arrow-button {
	margin-bottom: 0;
	margin-top: 6.4rem;
}
@media (min-width: 469px) and (max-width: 768px) {
	.arrow {
		width: 2.4rem;
		height: 2.4rem;
		margin-top: 33%;
		margin-left: 33%;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.arrow {
		width: 2.4rem;
		height: 2.4rem;
		margin-top: 38%;
		margin-left: 38%;
	}

	.destination .arrow-button {
		justify-content: center;
		margin-bottom: 6.4rem;
	}

	.testimonial .arrow-button {
		justify-content: space-between;
	}

	.arrow-button__left-dir,
	.arrow-button__right-dir {
		width: 10rem;
		height: 10rem;
	}

	.testimonial .arrow-button__left-dir,
	.testimonial .arrow-button__right-dir {
		margin-top: -47rem;
	}
}

@media (min-width: 1026px) {
	.arrow {
		width: 2.4rem;
		height: 2.4rem;
		margin-top: 38%;
		margin-left: 38%;
	}

	.arrow-button__left-dir,
	.arrow-button__right-dir {
		width: 10rem;
		height: 10rem;
		margin-top: -44rem;
		box-shadow: none;
	}

	.destination .arrow-button__left-dir,
	.destination .arrow-button__right-dir {
		margin-top: 0;
	}

	.destination .arrow-button {
		justify-content: flex-end;
		gap: 3.2rem;
		margin-bottom: 0;
		margin-right: 1.6rem;
	}

	.testimonial .arrow-button {
		justify-content: space-around;
		gap: 48%;
	}
	
	.arrow-button__left-dir:hover,
	.arrow-button__right-dir:hover {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 7px 16px 0px rgba(0, 0, 0, 0.07),
			0px 29px 29px 0px rgba(0, 0, 0, 0.06), 0px 65px 39px 0px rgba(0, 0, 0, 0.04),
			0px 116px 46px 0px rgba(0, 0, 0, 0.01), 0px 181px 51px 0px rgba(0, 0, 0, 0);
	}
}
