/*=================NAVBAR=================*/
.nav-containter {
	display: flex;
	justify-content: space-between;
	padding: 3.2rem 0;
	gap: 13rem;
}

.login-register {
	display: flex;
}

.brand {
	display: inline-block;
	min-width: 14.2rem;
	min-height: 4rem;
	align-items: center;
}

.logo {
	width: 4rem;
	min-height: 4rem;
}

.brand-name {
	display: inline-flex;
	width: 8.6rem;
	min-height: 4rem;
	
	font-family: var(--font-primary);
	font-size: 2.4rem;
	font-weight: 900;

	line-height: 4rem;
	text-align: left;
	color: var(--black-blue);
	text-decoration: none;
	
}

.brand-name::before {
	content: url("../assets/icons/logo.svg");
	display: inline-block;
	margin-right: 1.6rem;
	width: 4rem;
	min-height: 4rem;
}

.nav-menu {
	justify-content: space-between;
	width: 43rem;
	min-height: 1.7rem;
	margin-left: 1.6rem;
	gap: 3.4rem;
	list-style: none;
}

.nav-menu__item {
	margin-left: 1.6rem;
	min-height: 1.7rem;
	min-width: 8.7rem;
	
	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 700;

	line-height: 1.68rem;
	text-align: left;
	color: var(--dark-blue);
	text-transform: capitalize;
	text-decoration: none;
}

.nav-menu li {
	margin-left: -0.2rem;
}

.txt-opacity {
	opacity: 0.5;
	color: var(--black-blue);
}

.login-register {
	list-style: none;
}

.button {
	display: inline-block;
	padding: 1.6rem 3.2rem;
	border-radius: 10rem;
	
	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 700;

	line-height: 1.68rem;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
}

.button-white {
	width: 10.5rem;
	height: 4.9rem;
	color: var(--dark-blue);
}

.button-purple {
	width: 11.5rem;
	height: 4.9rem;
	background-color: var(--purple);
	color: var(--white);
}

.button-white:hover,
.button-purple:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1),
		0 20px 20px 0 rgba(0, 0, 0, 0.09), 0 45px 27px 0 rgba(0, 0, 0, 0.05),
		0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);
}
/*=================HEADER====================*/
.banner {
	width: 120rem;
	min-height: 84.1rem;
	gap: 3.1rem;
}
.banner--first {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 3rem;
}
.banner--first__header {
	width: 41.2rem;
	height: 24.9rem;
	margin: 0;

	font-family: var(--font-primary);
	font-size: 6.9rem;
	font-weight: 700;

	line-height: 8.28rem;
	text-align: left;
	color: var(--black);
}
.pink-txt {
	color: var(--pink);
}
.button-pink {
	width: 22.4rem;
	height: 5.6rem;
	color: var(--pink);
}
.button-pink::after {
	content: url("../assets/icons/banner-item.svg");
	width: 2rem;
	height: 2rem;
	margin-left: 0.8rem;
}

.desc {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	line-height: 2.88rem;
	text-align: left;
	opacity: 0.5;
	color: var(--black-blue);
}
.banner-primary__desc {
	width: 41.2rem;
	height: 8.7rem;
}

.banner .button-purple {
	width: 14.1rem;
	height: 4.9rem;
	margin-right: 1.6rem;
}
.banner .button-white {
	width: 18.1rem;
	height: 5.6rem;
	border: 0.1rem solid #eeeeee;
	padding: 1.6rem 2.4rem;
}

.banner .button-white::before {
	content: url("../assets/icons/banner-button.svg");
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 10px;
}
.banner__image {
	width: 77.2rem;
	height: 71.3rem;
	margin-top: 6.4rem;
}
.travel-agency {
	width: 120rem;
	height: 16.8rem;
	justify-content: space-between;
}
.travel-agency__img {
	min-width: 10.3rem;
	height: auto;
}
/*=======================SERVICE====================*/
.service {
	width: 153.6rem;
	height: 57.1rem;
	padding: 6.4rem 0;
	justify-content: space-between;
}
.service-intro {
	min-width: 44.4rem;
	height: 15rem;
}
.heading {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;

	line-height: 2.76rem;
	letter-spacing: 0.2em;
	text-align: left;
	text-transform: uppercase;
	color: var(--pink);
}

.service-intro__heading {
	min-width: auto;
	height: 2.76rem;
	color: var(--pink);
}
.sub-heading {
	font-family: var(--font-primary);
	font-size: 4.4rem;
	font-weight: 700;

	line-height: 5.28rem;
	text-align: left;
	color: var(--black-blue);
	margin-top: 0.8rem;
}

.service-intro__sub-heading {
	width: 44.4rem;
	min-height: 10.6rem;
}

.service-card {
	justify-content: space-between;
	gap: 2.1rem;
}

.service-card__item {
	width: 35rem;
	height: 44.3rem;
	padding-top: 6.4rem;
	border-radius: 3.2rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
}

.service-card__item:hover {
	box-shadow: 0 4.1rem 839rem 0 #0000001a;
}

.service-card__icon {
	width: 6.4rem;
	height: 6.4rem;
	margin: 0 0 6.4rem 14.3rem;
}

.service-card__header {
	margin-bottom: 4.8rem;
	font-family: var(--font-primary);
	font-size: 2.8rem;
	font-weight: 700;

	line-height: 3.36rem;
	text-align: center;
	text-transform: capitalize;
	color: var(--black-blue);
}

.service-card__desc {
	width: 22.2rem;
	height: 8.7rem;
	margin-left: 6.4rem;
	color: var(--black-blue);
	opacity: 0.5;
}
/*=================TOP DESTINATION=================*/
.top-destination {
	width: 120rem;
	min-height: 867px;
}

.top-destination-header {
	display: flex;
}

.top-destinaton__intro {
	flex: 1;
}

.top-destinaiton__heading {
	width: auto;
	height: 2.8rem;
}

.top-destination__sub-heading {
	width: 9.52rem;
	height: 5.3rem;
}

.arrow {
	position: relative;
	width: 2.4rem;
	height: 2.4rem;
	top: 38%;
	left: 38%;
}

.arrow-button {
	display: flex;
	width: 23.2rem;
	height: 10rem;
	gap: 3.2rem;
}

.arrow-button__left {
	width: 10rem;
	height: 10rem;
	border-radius: 10rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
}

.arrow-button__right {
	width: 10rem;
	height: 10rem;
	border-radius: 10rem;
	background: var(--purple);
}

.destination-card {
	display: flex;
	min-width: 118.4rem;
	gap: 3.2rem;
	height: 57.5rem;
}

.destination-card-content {
	width: 37.333rem;
	height: 22.5rem;
	margin: 3.2rem 0;
	border-radius: 0 0 3.2rem 3.2rem;
	height: 57.5rem;
}

.destination-card-content:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05),
		0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03),
		0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
}

.card__image {
	width: 37.333rem;
	min-height: auto;
}

.card__info__header {
	width: 22.833rem;
	height: 5.6rem;
	float: left;
	margin: 3.2rem 0 3.2rem 3.2rem;
}

.sm-txt{
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 2.76rem;
	text-align: left;
}

.card__price {
	display: inline-block;
	min-width: 8.1rem;
	min-height: 2.8rem;
	letter-spacing: 0;
	margin-top: 3.2rem;
	
}

.card__location {
	display: inline-block;
	width: 30.933rem;
	height: 2.9rem;
	opacity: 0.75;
	margin: 0 0 6.4rem 3.2rem;
}

.card__review {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;

	line-height: 2.76rem;
	text-align: left;
	color: var(--light-coral);
	margin-left: 3.2rem;
}

.card__review::after {
	content: url("../assets/icons/star.svg");
	width: 2rem;
	height: 1.9rem;
	margin-left: 1.6rem;
}
/*====================TRAVEL POINT===================*/
.travel-point {
	display: flex;
	flex-wrap: wrap;
	margin-right: 22.35rem;
	width: 131.2rem;
	height: 82.5rem;
}

.travel-point__image {
	width: 87.1rem;
	height: 69.7rem;
}

.travel-point__heading {
	height: 2.8rem;
	margin-top: 3.2rem;
}

.travel-point__sub-heading {
	width: 44.1rem;
	height: 10.6rem;
	margin-bottom: 3.2rem;
}

.travel-point__desc {
	width: 44.1rem;
	height: 8.7rem;
	padding-right: 4rem;
	margin-bottom: 6.4rem;
}

.travel-point__stats {
	flex-wrap: wrap;
	width: 44.1rem;
	height: 33.4rem;
	gap: 1.6rem;
}

.stats__item {
	flex-direction: column;
	gap: 1.6rem;
	width: 20.45rem;
	height: 15.1rem;
	border-radius: 3.2rem;
	border: 1px solid rgba(25, 24, 37, 0.1);
}

.stats-number {
	min-width: 1.8rem;
	height: 4.2rem;
	
	font-family: var(--font-primary);
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 4.2rem;
	color: var(--light-coral);
}

.stats-desc {
	width: 14.2rem;
	height: 2.9rem;
	text-transform: capitalize;
	text-align: center;
	opacity: 1;
}

.travel-point__sticker {
	position: absolute;
	width: 27.7rem;
	height: 35.3rem;
	margin-left: 28rem;
	margin-top: -13.5rem;
}
/*==============KEY FEATURES==================*/
.key-features {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 6.4rem;

	width: 131.2rem;
	height: 99.7rem;
	margin-left: 12rem;
}

.key-features__image {
	width: 69.3rem;
	height: 86.9rem;
}

.key-features-content {
	width: 54.9rem;
	height: 21.6rem;
}

.key-features__heading {
	width: 54.9rem;
	height: 2.8rem;
	margin-bottom: 1.6rem;
}

.key-features__sub-heading {
	width: 54.9rem;
	height: 5.3rem;
	margin-bottom: 3.2rem;
}

.key-features__desc {
	width: 54.9rem;
	height: 8.7rem;
	margin-bottom: 6.4rem;
}

.key-features__list {
	width: 54.9rem;
	height: 16.4rem;
	border-radius: 3.2rem;
	text-align: start;
	flex-wrap: wrap;
}

.list__item:hover {
	border: 0.1rem solid rgba(25, 24, 37, 0.1);
}

.list__icon {
	z-index: 10;
	width: 10rem;
	height: 10rem;
	border-radius: 3.2rem;
	padding: 3.2rem;
	margin-right: 3.2rem;
}

.location {
	background-color: var(--light-coral);
}

.schedule {
	background-color: var(--yellow);
}

.discount {
	background-color: var(--pink);
}

.list-info {
	width: 35.3rem;
	min-height: 6.5rem;
}

.list__header {
	width: 35.3rem;
	height: 2.8rem;
	margin-bottom: 0.8rem;
}

.list__desc {
	width: 35.3rem;
	height: 2.9rem;
}
/*=================TESTIMONIAL================*/
.testimonial {
	width: 120rem;
	min-height: 64.5rem;
	justify-content: space-between;
}

.testimonial__background {
	position: absolute;
	margin: 0 auto;
	top: 4024.88px;
	margin-left: -12rem;
	opacity: 0.1px;
}

.testimonial-card {
	z-index: 10;
	width: 87.2rem;
	min-height: 64.5rem;
	flex-direction: column;
	justify-content: space-between;
	gap: 5.6rem;
}

.card__heading {
	min-height: 2.8rem;
}

.card__sub-heading {
	min-height: 5.3rem;
	margin-top: -1.6rem;
}

.card__photo {
	width: 12.8rem;
	min-height: 12.8rem;
}

.card__name {
	font-family: var(--font-primary);
	font-size: 2.8rem;
	font-weight: 700;

	line-height: 3.36rem;
	text-align: center;
	text-transform: capitalize;
	color: var(--light-coral);
}

.card__hobbie {
	color: rgba(25, 24, 37, 0.75);
}

.card__review {
	width: 22.4rem;
	min-height: 3.2rem;
	margin-top: -1.6rem;
}

.card__feedback {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 450;

	line-height: 3.68rem;
	text-align: center;
	color: rgba(25, 24, 37, 0.75);
}

.testimonial .arrow-button__left {
	background-color: var(--white);
	z-index: 100;
}
/*============SUBSCRIPTION=========*/
.subscription {
	width: 120rem;
	height: 60.8rem;
	padding: 12.8rem 6.4rem;
	border-radius: 3.2rem;
	background-color: rgba(250, 205, 71, 0.08);
	margin-left: 12rem;
	margin-top: 20rem;
}

.subscription__image {
	width: 18.386rem;
	height: 17.635rem;
	margin: -25rem 0 0 -10rem;
}

.subscription-content {
	width: 105.6rem;
	height: 35.2rem;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 6.4rem;
}

.subscription__sub-heading {
	width: 105.5rem;
	min-height: 13.2rem;
	font-size: 5.5rem;
	line-height: 6.6rem;
	text-align: center;
}

.subscription__form {
	display: flex;
	justify-content: space-between;
	width: 105.6rem;
	height: 9.6rem;
	gap: 6.4rem;
}

.subscription .button-purple {
	width: 23.5rem;
	height: 9.6rem;
	padding: 3.2rem 6.4rem;
	border-radius: 3.2rem;

	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 2.76rem;
	text-align: center;
	border: none;
}

.form-input {
	background: url("../assets/icons/email.svg") no-repeat left;
	background-color: var(--white);
	background-position-x: 5%;

	flex: 1;
	height: 96px;
	padding: 3.2rem 3.2rem 3.2rem 8rem;
	border-radius: 3.2rem;
	border: none;

	font-size: 2.3rem;
	font-weight: 700;
	line-height: 2.76rem;
	color: rgba(25, 24, 37, 0.75);
}

.form-input::placeholder {
	width: 65.7rem;
	margin-left: 7%;

	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;

	line-height: 2.76rem;
	text-align: left;
	text-transform: capitalize;
}
/*=============FOOTER==================*/
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6.4rem	;
	width: 120rem;
	min-height: 43.4rem;
	margin-top: 14.8rem;
}

.brand-name {
	margin-bottom: 3.2rem;
}

.brand__desc {
	margin-bottom: 6.4rem;
}

.footer__second {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3.2rem;
}

.brand__desc {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 450;
	line-height: 3.68rem;
	text-align: left;
	color: rgba(25, 24, 37, 0.5);
}

.brand-socials {
	display: flex;
	list-style-type: none;
	gap: 3.2rem;
}
.brand-socials__link {
	max-width: 32px;
	height: auto;
}

.footer__heading {
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 2.76rem;
	text-align: left;
	text-transform: capitalize;
}

.company-info {
	list-style: none;
}

.info-link {
	opacity: 0.75;
	text-decoration: none;
	cursor: pointer;
}

.company-info li {
	margin: 3.2rem 0;
}

.tel,
.email,
.address {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	line-height: 2.88rem;
	text-align: left;
	color: rgba(25, 24, 37, 0.75);
	font-style: normal;
	text-decoration: none;
}

.sub-footer__third {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 16.533rem;
	height: 30.6rem;
	gap: 3.2rem;
}

.footer__image {
	position: absolute;
	margin-top: -25rem;
	margin-left: 17rem;
}
