/*--------------------------Header------------------------------*/
header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 3.2rem;
	flex-basis: auto;
	padding: 0 1.5rem;
	background: var(--white);
}

.logo {
	display: inline-flex;
	text-decoration: none;
}

.header__brand-name {
	margin-top: 0;
	font-family: var(--font-primary);
	font-size: 2.4rem;
	font-weight: 900;

	line-height: 4rem;
	text-align: left;
	color: var(--black-blue);
}

.header__brand-logo {
	width: 4rem;
	height: 4rem;
	position: relative;
	margin-right: 1.6rem;
}
/*------------------------------header__navbar-----------------------------*/
.header__navbar {
	display: flex;
	justify-content: center;
	flex: 1;
}

.nav-menu {
	display: flex;
	justify-content: center;

	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-top: 1.2rem;
}
.menu-icon {
	width: 4.8rem;
	height: 4.8rem;
}

.menu-icon,
#menu-bar,
.dropdown-menu,
.header__navbar {
	display: none;
}

.nav-menu__item {
	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 700;

	line-height: 1.68rem;
	text-align: left;
	color: var(--dark-blue);
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
}

.nav-menu__item:hover {
	opacity: 1;
}

.overlay {
	position: absolute;
	top: 58px;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;

	background-color: var(--black);
	opacity: 0.5;
	display: none;
	transition: 0.5s ease;
}

.dropdown-menu__item {
	padding-left: 0;
	list-style: none;
}
/*--------------------------Banner---------------------------*/
.banner--content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1.6rem;
}

.banner--content__header {
	font-family: var(--font-primary);
	font-size: 4rem;
	font-weight: 700;

	line-height: 4.8rem;
	text-align: center;
	color: var(--black);
	margin: 0;
}

.pink-txt {
	color: var(--pink);
}

.banner--content__desc {
	padding: 0;
	margin-top: 0.8rem;
}

.banner__image {
	display: block;
	margin: auto;
	margin-top: 5.2rem;
	width: 39.6rem;
	max-width: 100%;
	height: 36.6rem;
	height: auto;
}
/*-----------------------travel-agency-------------------------*/
.travel-agency {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.4rem;
	margin: 6.4rem 0;
}

.travel-agency__img {
	width: 100%;
	min-width: 6.4rem;
	height: 2rem ;
	height: auto;
}
/*--------service-----------*/
.service-cards {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 1.6rem;
}

.service .category__sub-heading {
	margin-bottom: 2.8rem;
}

/*------Destination---------*/
.destination .category__heading {
	margin-bottom: 1.6rem;
}

.destination .category__sub-heading {
	margin-bottom: 3rem;
}
/*----travel-point------*/
.travel-point {
	margin: 10rem 1.5rem;
	padding: 0;
}

.travel-point__image {
	margin-top: 3.2rem;
	display: block;
	margin: auto;
	width: 100%;
	max-width: 39.8rem;
	height: 31.9rem;
	height: auto;
}

.travel-point__achievements {
	margin-top: 3.2rem;
}

.achievement__number {
	margin-bottom: 0;
}

.achievement__desc {
	margin-top: 0;
}

.travel-point__decor-image {
	display: none;
}
/*------key feature-------*/
.key-features__image {
	width: 100%;
	max-width: 35rem;
	height: 43.9rem;
	height: auto;
	padding: 0 3.9rem;
	margin-top: 3.2rem;
	margin: auto;
}
.key-features__icon {
	width: 4.8rem;
	height: 4.8rem;
}
.key-features .category__desc {
	padding: 0 5.8rem;
	margin-bottom: 3.2rem;
}
/*-----------------------Testimonials-------------------------*/
.testimonial-card {
	min-height: 66.6ren;
}

.testimonial-card__photo {
	display: block;
	margin: auto;
}

.testimonial-card__name {
	margin-top: 6rem;
	margin-bottom: 3rem;
	font-family: var(--font-primary);
	font-size: 2.8rem;
	font-weight: 700;

	line-height: 3.36rem;
	text-align: center;
	text-transform: capitalize;
	color: var(--light-coral);
}

.testimonial-card__hobbie {
	color: var(--black-075);
	font-size: 2.3rem;
	line-height: 2.76rem;
}

.testimonials-card__feedback {
	font-family: var(--font-primary);
	font-size: 1.8rem;
	font-weight: 450;

	line-height: 2.88rem;
	text-align: center;
	color: var(--black-075);
	margin-top: 6.4rem;
	margin-bottom: 6.4rem;
}

.swipe-icon,
.testimonials-card__review {
	display: block;
	margin: auto;
}

.swipe-icon {
	cursor: pointer;
}

.testimonial .category__sub-heading {
	margin-bottom: 6.4rem;
}
/*--------------------Subscription--------------------*/
.subscription {
	min-height: 54.7rem;
	border-radius: 3.2rem;
	background-color: rgba(250, 205, 71, 0.08);
}

.subscription__image--triangle {
	position: relative;
	margin-top: -6.4rem;
	margin-left: -3.2rem;
}

.footer__image--curve {
	position: absolute;
	right: 0;
	margin-top: -16rem;
	margin-left: 4.8rem;
	max-width: 12.8rem;
	height: auto;
}

.subscription__content {
	min-height: 35.2rem;
}

.subscription .category__heading {
	padding: 06.4rem 4.8rem 0 4.8rem;
	margin-top: 0;
}

.subscription .category__sub-heading {
	min-height: 11.4rem;
	text-align: center;
	padding: 0 4.8rem;
	margin: 3.2rem 0 5.8rem;
}

.subscription__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3.2rem;
}
.form__input-bar {
	width: 80%;
	flex: 1;
	display: flex;
	justify-content: space-between;
	gap: 1.6rem;
	border-radius: 1.6rem;
	border: none;
	background-color: var(--white);
	margin: auto;
}

.input-bar__main-input {
	width: 80%;
	background-color: var(--white);
	outline: none;
	flex: 100%;
	min-height: 72px;
	border-radius: 1.6rem;
	border: none;
	font-size: 2.3rem;
}
.input-bar__icon {
	font-size: 32px;
	margin-left: 1.6rem;
}

.input-bar__main-input::placeholder {
	margin-left: 1.6rem;
	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 700;

	color: var(--black-075);
	line-height: 16.8rem;
	text-align: left;
	text-transform: capitalize;
}
/*-----------------------footer---------------------*/
.footer {
	display: flex;
	flex-direction: column;
	gap: 6.4rem;
	min-height: 43.4rem;
	margin-top: 12rem;
}

.footer .logo {
	margin-top: -0.4rem;
}
.footer .header__brand-name {
	margin-bottom: 1.6rem;
}

.brand__desc {
	margin-bottom: 3.2rem;
	font-family: var(--font-primary);
	font-size: 1.6rem;
	font-weight: 450;

	line-height: 2.56rem;
	color: var(--black-075);
}

.footer__permalinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.expand-image {
	width: 0.9rem;
	height: 0.5rem;
	display: none;
}

.permalinks--company,
.permalinks--contact,
.permalinks--meet-us {
	display: flex;
	flex-direction: column;
}

.brand-socials {
	display: flex;
	list-style-type: none;
	gap: 3.2rem;
}

.brand-socials__link {
	max-width: 32px;
	height: auto;
}

.permalinks--company-info {
	margin: 0 0 1.6rem 0;
	font-family: var(--font-primary);
	font-size: 2.3rem;
	font-weight: 700;

	line-height: 2.76rem;
	text-align: left;
	text-transform: capitalize;
}

.company-info,
.company-contact-info,
.content-menu {
	padding: 0;
	list-style: none;
	text-align: left;
	padding: none;
}

.info-link {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--black-blue);

	line-height: 2.88rem;
	text-align: center;
	opacity: 0.75;
	text-decoration: none;
	cursor: pointer;
}

.info-link:hover {
	opacity: 1;
	font-weight: 600;
}

.footer__permalinks li {
	margin-bottom: 1.6rem;
}

.tel,
.email,
.address {
	font-family: var(--font-secondary);
	font-size: 1.8rem;
	font-weight: 400;

	line-height: 2.88rem;
	text-align: left;
	color: var(--black-075);
	font-style: normal;
	text-decoration: none;
}

.tel:hover,
.email:hover,
.address:hover {
	opacity: 1;
	font-weight: 600;
}

#meet-us-expand,
#contact-expand,
#company-expand {
	display: none;
}
/*---------------------Media queries----------------------*/
@media (max-width: 768px) {
	.dropdown-menu {
		z-index: 100;
		display: block;
		position: absolute;
		top: 89%;
		width: 100%;
		height: 100vh;
		left: -100%;

		padding-left: 0;
		background: var(--white);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		list-style: none;
		transition: 0.5s ease;
	}
	.authenticated-button {
		display: none;
	}
	.nav-menu__item {
		text-transform: uppercase;
		font-size: 1.8rem;
		margin-top: 3.2rem;
		opacity: 1;
	}
	.dropdown-button {
		display: flex;
		justify-content: center;
		gap: 3.2rem;
		padding: 0;
		margin-top: 8%;
	}
	.dropdown-button li {
		list-style: none;
	}

	.dropdown-button .button-white {
		background: #9cf3a7;
	}

	.nav-menu__item {
		display: block;
	}

	.menu-icon {
		display: initial;
	}

	#menu-bar:checked ~ .dropdown-menu {
		display: initial;
		left: 0;
	}

	#menu-bar:checked ~ .overlay {
		display: initial;
	}

	.testimonial,
	.travel-point,
	.service {
		padding: 0;
		margin: 6.4rem 1.5rem;
	}

	.subscription {
		padding: 0;
		margin: -3.2rem 1.5rem 0;
	}
	.subscription__image--triangle,
	.footer__image--curve {
		display: none;
	}

	.expand-image {
		display: initial;
	}

	.footer__permalinks {
		flex-direction: column;
	}

	.footer {
		margin-top: 3.2rem;
	}

	.permalinks--company-info {
		margin-bottom: 6.4rem;
	}

	.permalinks--company,
	.permalinks--contact,
	.permalinks--meet-us {
		flex-direction: row;
		justify-content: space-between;
	}

	.tel,
	.email,
	.address,
	.info-link {
		display: block;
		text-align: center;
	}
	/*-------------footer expand feature------------*/
	.content-menu,
	.company-contact-info,
	.company-info {
		display: block;
		list-style: none;
		display: hidden;
		justify-content: space-between;
		text-align: center;
	}

	.meet-us__content,
	.contact__content,
	.company__content {
		position: absolute;
		margin-top: 3.2rem;
		display: none;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, 1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	#meet-us-expand:checked ~ .meet-us__content,
	.content-menu,
	.content-menu li {
		display: initial;
	}

	#contact-expand:checked ~ .contact__content,
	.company-contact-info,
	.company-contact-info li {
		display: initial;
	}

	#company-expand:checked ~ .company__content,
	.company-info,
	.company-info li {
		display: initial;
	}
}
@media (min-width: 468px) {
	.banner__image {
		width: 100%;
		width: 77.2rem;
		height: 71.3rem;
		height: auto;
	}

	.travel-point__image,
	.key-features__image {
		max-width: 100%;
		width: 87.1rem;
		height: 69.7rem;
		height: auto;
	}

	.key-feature__info {
		margin-top: 1.6rem;
	}
	.form__input-bar {
		border-radius: 3.2rem;
	}
}
/*-----mobile landscape mode--------*/
@media (min-width: 469px) and (max-width: 768px) {
	.header {
		padding: 0 3.2rem;
	}

	.arrow {
		position: relative;
		top: 33%;
		left: 33%;
	}

	.category__desc {
		padding: 0;
	}

	.input-bar__main-input {
		padding: 0;
	}
	.dropdown-button .button-purple,
	.dropdown-button .button-white {
		padding: 1.6rem 6.4rem;
	}
}
/*-----tablet lanscape mode or large tablet ----*/
@media (min-width: 769px) and (max-width: 900px) {
	.subscription__form {
		margin: 0 2.4rem 7.2rem;
		gap: 1.6rem;
	}
	.subscription .button-purple {
		width: 20.5rem;
		padding: 1.6rem 3.2rem;
		min-height: 7.6rem;
	}
	.input-bar__main-input {
		min-height: 7.6rem;
	}
	.travel-agency {
		gap: 2.7rem;
		margin: 9.6rem 6.4rem 12.4rem;
		padding: 0 3.8rem;
	}
}
@media (min-width: 901px) and (max-width: 1025px) {
	.input-bar__main-input {
		min-height: 9.6rem;
	}
	.travel-agency {
		gap: 2.7rem;
		margin: 9.6rem 6.4rem 12.4rem;
		padding: 0 10.8rem;
	}
}

@media (min-width: 769px) and (max-width: 1025px) {
	.header {
		padding: 0 6.4rem 3.2rem;
	}
	#menu-bar:checked ~ .overlay {
		display: initial;
	}
	.header__navbar {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;

		min-height: auto;
		background: rgba(255, 255, 255, 0.75);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		display: none;
	}
	.dropdown-button .button {
		padding: 1.6rem 4.8rem;
	}
	.nav-menu {
		display: block;
		display: none;
		gap: 3.2rem;
	}

	.nav-menu__item {
		display: block;
	}

	.menu-icon {
		position: absolute;
		top: 0;
		left: 6.4rem;
		display: initial;
	}

	.header .logo {
		position: absolute;
		top: 0;
		left: 34%;
		margin-right: 9.6rem;
	}

	.banner__image {
		margin-top: 7rem;
	}

	.banner--content__header {
		padding: 0 13.2rem;
		margin: 3rem 1.6rem 0 0;
		font-size: 5.6rem;
		line-height: 6.72rem;
	}

	.banner--content__desc {
		margin-top: 2.4rem;
		margin-right: 1.6rem;
		opacity: 1;
	}
	.dropdown-menu {
		z-index: 100;
		display: block;
		position: absolute;

		top: 5.2rem;
		width: 40%;
		height: 100vh;
		left: -100%;
		padding-left: 0;

		background: #ffffff;
		list-style: none;
		transition: 0.5s ease;
	}
	.nav-menu__item {
		text-transform: uppercase;
		font-size: 1.8rem;
		margin-top: 3.2rem;
		opacity: 1;
	}

	.dropdown-button {
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		margin-top: 30%;
	}
	.dropdown-button li {
		list-style: none;
	}

	.dropdown-button .button-white {
		background: #9cf3a7;
	}

	#menu-bar:checked ~ .dropdown-menu {
		left: 0;
		display: initial;
	}

	.expand-image {
		display: none;
	}

	.service-cards {
		flex-direction: row;
		padding: 0 6.4rem;
		margin-top: 6rem;
		gap: 1.62rem;
	}

	.destination {
		margin-top: 14.2rem;
	}

	.destination .category__sub-heading {
		margin-bottom: 6.4rem;
	}

	.travel-point,
	.key-features {
		padding: 0 6.4rem;
	}

	.travel-point {
		margin-left: 3.2rem;
		margin-top: 13.6rem;
	}

	.key-features {
		margin-top: 13rem;
		margin-left: 1.6rem;
	}

	.travel-point .category__desc {
		margin-top: 0;
	}

	.travel-point__achievements {
		margin-top: 6.4rem;
	}

	.testimonial {
		background: url("../assets/images/special-images/desktop-images/testimonials-layout.png") no-repeat;
		background-position: 45% 74%;
		margin-bottom: 6.4rem;
		padding: 4rem 8.4rem;
		margin-top: 2rem;
		margin-right: -2.4rem;
	}

	.testimonial-card {
		max-width: 60rem;
		display: block;
		margin: auto;
	}

	.testimonial .category__sub-heading {
		margin-bottom: 4.8rem;
	}

	.key-features__image {
		padding: 0;
	}

	.key-features .category__desc {
		margin-bottom: 6.4rem;
	}

	.testimonials-card__feedback {
		margin: 5.6rem 0;
		font-size: 2.3rem;
		line-height: 3.68rem;
		opacity: 0.75;
	}

	.subscription__form {
		flex-direction: row;
		gap: 3.2rem;
		margin: 0 4.4rem 7.2rem;
	}

	.subscription {
		max-width: 90rem;
		padding: 0;
		margin: 0 7.2rem;
	}

	.subscription__content {
		margin-left: 2rem;
	}

	.subscription .category__heading {
		padding-top: 2rem;
	}
	.subscription .category__sub-heading {
		padding: 0 6.4rem;
		margin-bottom: 4.4rem;
	}

	.input-bar__main-input {
		border-radius: 3.2rem;
		padding: 0;
		margin-top: 0;
	}

	.input-bar__main-input::placeholder {
		font-size: 2.3rem;
		line-height: 2.76rem;
	}

	.footer {
		margin-left: 1.2rem;
		margin-top: 16rem;
	}

	.brand__desc {
		font-size: 2.3rem;
		line-height: 3.68rem;
	}

	.footer__image--curve {
		margin-top: -1rem;
		right: 0;
	}

	.company__content,
	.company-contact-info,
	.meet-us__content {
		min-width: 20rem;
	}

	.permalinks--company-info {
		margin-bottom: 3.2rem;
	}

	.footer__permalinks li {
		margin-bottom: 3.2rem;
	}
}
/*-----desktop and laptop--------*/
@media (min-width: 1026px) and (max-width: 1199px) {
	.footer {
		flex-direction: column;
		margin-left: 1.2rem;
		margin-top: 16rem;
	}

	.footer__image--curve {
		margin-top: -3rem;
	}
	.nav-menu {
		gap: 3.2rem;
	}
	.subscription .category__sub-heading {
		margin-bottom: 2.4rem;
		font-size: 4rem;
		line-height: 4.8rem;
		padding: 0 6.4rem;
	}
	.subscription {
		min-height: 50rem;
	}
}

@media (min-width: 1200px) and (max-width: 1333px) {
	.footer {
		flex-direction: row;
		gap: 3.2rem;
	}
	.nav-menu {
		gap: 6.4rem;
	}
	.subscription .category__sub-heading {
		margin-bottom: 2.4rem;
		font-size: 4rem;
		line-height: 4.8rem;
		padding: 0 12.8rem;
	}

	.footer__brand-info,
	.footer__permalinks {
		max-width: 58rem;
	}
	.subscription {
		min-height: 50rem;
	}
}

@media (min-width: 1334px) {
	.footer {
		flex-direction: row;
	}
	.nav-menu {
		gap: 6.4rem;
	}
	.subscription .category__sub-heading {
		margin-bottom: 4.4rem;
		font-size: 5rem;
		line-height: 5.6rem;
		padding: 0 12.8rem;
	}

	.footer__brand-info,
	.footer__permalinks {
		max-width: 58rem;
	}
}
@media (min-width: 1026px) {
	.footer {
		gap: 6.4rem;
		margin-top: 9.6rem;
	}
	.header {
		padding: 0 12.8rem;
		margin-top: 3.2rem;
		margin-bottom: 1.6rem;
	}
	.header__navbar {
		display: inherit;
	}
	.banner--content {
		margin-top: 16.8rem;
		max-width: 41.2rem;
		height: 57.7rem;
		justify-content: center;
		gap: 1.6rem;
	}

	.banner__image {
		margin-top: 6.4rem;
	}

	.banner--content__header {
		font-size: 6.9rem;
		line-height: 8.28rem;
		margin: 3.2rem 0 1.6rem;
		text-align: left;
	}

	.banner--content__desc {
		margin: 0;
	}

	.service {
		max-width: 153.6rem;
		width: 100%;
		min-height: auto;
		display: flex;
		padding-left: 12.8rem;
		margin: 12rem 0;
	}

	.service-cards {
		min-width: 110rem;
		flex-direction: row;
		gap: 2.1rem;
	}

	.service .category {
		width: 100%;
		min-width: 44.4rem;
		min-height: 15rem;
		margin-top: 8.2rem;
	}

	.travel-agency {
		justify-content: space-between;
		margin: 2rem 0 0;
	}

	.key-features,
	.banner {
		display: flex;
		flex-direction: row-reverse;
	}

	.travel-point {
		margin: 7.5rem 0 10rem;
		padding: 0 12.8rem 0 0;
		display: flex;
		flex-direction: row;
	}

	.key-features {
		gap: 7rem;
		padding: 0 0 0 12.8rem;
	}

	.key-features__image {
		margin-top: 6.4rem;
	}

	.key-features .category {
		max-width: 54.9rem;
	}

	.key-features .category__desc {
		margin-bottom: 8.8rem;
		padding-left: 0;
		padding-right: 3.8rem;
	}

	.travel-point__image {
		padding-top: 0;
	}

	.travel-point .category {
		max-width: 44.1rem;
		min-height: 66.7rem;
		margin-top: -2.4rem;
	}

	.travel-point .category__desc {
		padding-right: 1.6rem;
	}

	.destination__intro {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: -7.2rem;
	}

	.destination .category__sub-heading {
		margin-bottom: 6rem;
	}

	.testimonial {
		max-width: 160rem;
		width: 100%;
		background: url("../assets/images/special-images/desktop-images/testimonials-layout.png") no-repeat;
		background-position: 20% 50%;
		padding: 8rem 0 0;
		margin-top: -4.8rem;
	}

	.testimonial-card {
		display: block;
		margin: auto;
		max-width: 87.2rem;
		min-height: 64.5rem;
	}

	.testimonial .category__heading {
		margin-top: 4rem;
		text-align: center;
	}

	.testimonial-card__photo {
		margin-top: 4.8rem;
	}

	.testimonials-card__feedback {
		margin-top: 5.6rem;
		margin-bottom: 5.2rem;
		font-size: 2.3rem;
		line-height: 3.68rem;
		opacity: 0.75;
	}

	.testimonial-card .category__sub-heading {
		text-align: center;
	}

	.subscription {
		padding: 0;
		margin: 16.8rem 12.8rem 3.2rem;
	}

	.subscription .category__heading {
		padding-top: 0;
		margin-bottom: 3.2rem;
		margin-top: 1.6rem;
		text-align: center;
	}

	.subscription__form {
		flex-direction: row;
		gap: 3.2rem;
		margin: 0 6.4rem;
	}

	.input-bar__main-input {
		min-height: 9.6rem;
		border-radius: 3.2rem;
		padding: 0;
	}

	.input-bar__main-input::placeholder {
		font-size: 2.3rem;
	}

	.footer__brand-info,
	.footer__permalinks {
		flex: 1;
	}

	.permalinks--company,
	.permalinks--contact,
	.permalinks--meet-us {
		flex: 1;
		display: flex;
		gap: 0.4rem;
	}

	.brand__desc {
		font-size: 2.3rem;
		line-height: 3.68rem;
		margin-top: 1.6rem;
		margin-bottom: 6.4rem;
	}

	.company-contact-info li,
	.company-info li,
	.content-menu li {
		margin-bottom: 3.2rem;
	}

	.travel-point__decor-image {
		display: initial;
		position: absolute;
		margin-left: 28.8rem;
		margin-top: -14rem;
	}
}
