* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "TT Hoves";
	src: url("../fonts/tt_hoves_pro/tt-hoves-pro-trial-medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins/poppins-regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins/poppins-medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins/poppins-semibold.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins/poppins-bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins/poppins-black.ttf");
	font-weight: 900;
	font-style: normal;
}

:root {
	--yellow-white: #fef4de;
	--brown: #7c4032;
	--yellow: #f3ce5e;
	--white: #ffffff;
	--light-brown: #b76c4e;
	--dark-grey: #333333;
	--light-orange: #e5af99;
	--dark-brown: #55352d;
	--shadow-color: #00000040;
	--semidarkbrown: #663128;

	--font-primary: Poppins;
	--font-secondary: TT Hoves;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	max-width: 1903px;
	font-size: 62.5%;
	line-height: 2.4rem;
}
/*----BANNER----*/
.banner {
	position: relative;
	min-height: 958.22px;

	background: url(../images/background-image/background-pattern-second.svg) no-repeat;
	background-color: var(--yellow-white);
	background-size: cover;
}

.image-vector__primary {
	max-width: 100%;
	height: auto;
}

.container-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 9.9rem;

	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	width: 556px;
	margin-top: -2rem;

	color: var(--semidarkbrown);
	font-family: var(--font-primary);
	text-align: left;
}

.intro__title {
	height: 115px;
	margin: 0;

	font-size: 11.5rem;
	font-weight: 900;
	line-height: 13.627rem;
	text-shadow: 0 4px 4px 0 var(--shadow-color);
}

.intro__sub-title {
	width: 600px;
	height: 80px;
	padding-top: 0.2rem;

	font-family: var(--font-primary);
	font-size: 5.8rem;
	font-weight: 700;

	line-height: 5.829rem;
	letter-spacing: 0.435em;
	text-transform: capitalize;
	text-shadow: 0 4px 4px 0 var(--shadow-color);
}

.intro__desc {
	width: 552px;
	min-height: 72px;
	margin-top: -1rem;
	padding-top: 2rem;
	padding-bottom: 1rem;

	font-size: 1.6rem;
	font-weight: 600;
}
/*--button--*/
.button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3.5rem;

	text-decoration: none;
	text-transform: capitalize;
}

.button--primary {
	justify-content: center;
	border-radius: 5.7rem;
	margin-top: 2rem;
	width: 210px;
	min-height: 66px;

	color: var(--brown);
	background: var(--yellow);
	box-shadow: 0 0.4rem 0.4rem 0 var(--shadow-color);

	font-family: var(--font-primary);
	font-size: 1.8rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.5s ease;
}

.button--primary:hover {
	z-index: 10;
	background-color: #f1be23;
	box-shadow: 0 2rem 4rem 0 var(--shadow-color);
}

.button--primary:active {
	background-color: #d6a211;
	box-shadow: 0 0.5rem #666;
	transform: translateY(4px);
}

.button--secondary {
	justify-content: center;
	width: 110px;
	min-height: 24px;
	margin-top: 2rem;

	color: var(--brown);
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 1.8rem;
	text-align: center;
	transition: 0.5s ease;
}

.button--secondary:hover {
	color: var(--light-brown);
	font-size: 2.4rem;
}

.button--secondary:active {
	color: #04aa6d;
}

.logo {
	max-width: 100%;
	height: auto;
	padding: 0 0 20rem 0;
	margin-top: 7rem;
}
/*-----------------------SERVICES---------------------*/
.service {
	background-color: var(--brown);
	min-height: 870px;
}

.heading {
	position: relative;
	z-index: 100;
	width: 100%;
	margin: 1.5rem 0 5rem 0;

	color: var(--white);
	font-family: var(--font-primary);
	font-size: 6.4rem;
	font-weight: 900;
	line-height: 9.6rem;
	text-align: center;
	text-transform: uppercase;
}

.service .heading::before {
	position: absolute;
	z-index: -100;

	width: 1903px;
	height: 389px;
	left: 0;
	margin-top: -24.5rem;

	content: "";
	background-image: url("../images/vector/vector-image-middle.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.service-list {
	gap: 1.6rem;
	min-height: 554px;
}

.service--list__block {
	z-index: 100;

	width: 288px;
	min-height: 269px;
	border-radius: 2rem;

	background: var(--white);
	transition: 0.5s ease;
}

.service--list__block:hover {
	z-index: 1;
	box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/*---------TESTIMONIALS-----------*/
.testimonials {
	min-height: 796px;
	min-width: auto;

	background: url(../images/background-image/background-pattern-first.svg) no-repeat;
	background-color: var(--yellow-white);
	background-size: cover;
}

.testimonials .heading {
	min-height: 196px;
	color: var(--brown);
	padding-top: 5rem;
	margin: 0;
}

.testimonials-wrapper {
	gap: 5rem;
}

.testimonials-wrapper--container {
	width: 512px;
	min-height: 192px;
	border-radius: 3rem;
	border: 0.1rem solid var(--brown);

	background-color: var(--white);
	transition: 0.5s ease;
}

.testimonials-wrapper--container__header {
	min-height: 24px;
	padding: 2rem 5rem 0 5rem;

	color: var(--brown);
	font-family: var(--font-primary);
	font-size: 1.6rem;
	font-weight: 900;
	text-align: left;
}

.testimonials-container__content {
	min-height: 8rem;
	padding: 2% 10%;

	font-family: var(--font-primary);
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--dark-grey);
	line-height: 2rem;
	text-align: left;
}

.testimonials-container__footer {
	min-height: 18px;
	padding: 1rem 5rem 1rem 5rem;
}

.testimonials-wrapper--container:hover {
	z-index: 1;
	box-shadow: 0 2rem 2rem rgba(112, 69, 49, 0.5);
	cursor: pointer;
}

.service .button--primary,
.testimonials .button--primary {
	position: relative;
	max-width: 100%;
	left: calc(50% - 10.5rem);
	margin: 5rem 0 4rem;
}
/*-------------------CONTACT US-------------------------*/
.contact-us {
	min-height: 504px;
}

.contact-us .heading {
	min-height: 180px;
	margin: 0 0 0 5px;
	padding-top: 4.5rem;

	color: var(--brown);
	text-shadow: 0 0.4rem 0.4rem 0 var(--shadow-color);
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000,
		1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 1px #000;
}

.contact-us-container {
	gap: 10rem;
	width: 100%;
	min-height: 266px;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.contact-us-container__empty-box {
	display: grid;
	grid-template-columns: auto;
	gap: 1.5rem;
}

.box__primary {
	max-width: 374px;
	min-height: 56px;
	border-radius: 6.1rem;
	background-color: var(--light-orange);
}

.box__secondary {
	width: 168px;
	min-height: 56px;
	margin: 0 10.5rem 0 10.5rem;
	border-radius: 6.1rem;
	border: 0.3rem solid #7c4032;
	padding-bottom: 5rem;
}

.contact-us--container__info {
	display: flex;
	align-items: self-start;
	justify-content: center;
	flex-direction: column;
	gap: 3.2rem;

	min-height: 132px;
	margin-right: 1rem;
	margin-top: -7rem;
	text-decoration: none;
	font-style: normal;
}

.mail-address__item {
	gap: 0;
	margin: 0;
}

.icon-image {
	margin-right: 1.8rem;
	margin-top: -1rem;
}
.mail-address__item:last-child {
	margin-left: -0.3rem;
}

.email {
	font-family: var(--font-secondary);
	font-size: 1.4rem;
	font-weight: 500;

	color: var(--dark-grey);
	line-height: 1.743rem;
	text-align: left;
	text-decoration: none;
	transition: 0.5s ease-out;
}

.email:hover {
	color: var(--dark-grey);
	font-size: 1.8rem;
	font-weight: 600;
	cursor: pointer;
}

.email:visited {
	color: #22389c;
}

.tel {
	margin: 0.5rem;
	padding-left: 0.5rem;

	font-family: var(--font-secondary);
	font-size: 1.4rem;
	font-weight: 500;

	color: var(--dark-grey);
	line-height: 1.743rem;
	text-align: left;
	text-decoration: none;
	transition: 0.5s ease-out;
}

.tel:hover {
	color: var(--dark-grey);
	font-size: 1.8rem;
	font-weight: 600;
	cursor: pointer;
}

.address {
	min-width: 280px;
	margin-top: -0.7rem;
	padding-left: 0.3rem;

	font-family: var(--font-secondary);
	font-size: 1.4rem;
	font-weight: 500;
	font-style: normal;

	color: var(--dark-grey);
	line-height: 1.743rem;
	text-align: left;
	transition: 0.5s ease;
}

.address:hover {
	color: var(--dark-grey);
	font-size: 1.6rem;
	font-weight: 600;
	cursor: pointer;
}

.footer-container {
	bottom: 0;
	width: 100%;
	min-height: 11.7rem;
	background-color: var(--dark-brown);
}
/*-------Media----------*/
/*Laptop and small desktop*/
@media (min-width: 1025px) and (max-width: 1280px) {
	.service-list:nth-child(8) {
		padding-bottom: 5%;
	}
	.service .button--primary,
	.testimonials .button--primary {
		display: inline-flex;
	}
}
/*Tablet landscape mode*/
@media (min-width: 769px) and (max-width: 1024px) {
	.service .button--primary,
	.testimonials .button--primary {
		display: inline-flex;
	}
}
/*Tablet portrait mode*/
@media (min-width: 481px) and (max-width: 768px) {
	.contact-us--container__info {
		align-items: center;
	}
	.testimonials-wrapper--container {
		margin: 0 5%;
	}
	.logo,
	.intro,
	.intro__desc {
		text-align: center;
		margin: 5% 10%;
		width: 80%;
	}
	.intro__title {
		font-size: 15vw;
	}
	.intro__sub-title {
		font-size: 8vw;
		width: 100%;
	}
	.service .button--primary,
	.testimonials .button--primary {
		display: inline-flex;
	}
}
/*Mobile*/
@media (max-width: 480px) {
	.testimonials-wrapper--container {
		margin: 0 5%;
	}
	.contact-us--container__info {
		align-items: center;
	}
	.logo {
		width: 80%;
		height: auto;
		margin: 5% 10%;
	}
	.heading {
		font-size: 10vw;
	}
	.intro {
		text-align: center;
		align-items: center;
		margin: 0 10%;
	}
	.intro__title {
		font-size: 20vw;
	}
	.intro__sub-title {
		font-size: 10vw;
	}
	.intro__desc {
		margin: 0 auto;
		padding: 0 15%;
		width: 80%;
		font-size: 5vw;
	}
	.button {
		flex-direction: column;
	}
	.service .button--primary,
	.testimonials .button--primary {
		display: inline-flex;
	}
}
