* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(161, 115, 44);
}
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 5;
}
.nav__container {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    justify-content: ;
    align-items: center;
    padding: 20px;
    
  }
  .nav__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap ;
    padding: 20px;
  }
  .nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
  }
  
  .nav__menu a:hover {
    color: var(--color-bg2);
  }
  .animal_list {
    color: rgb(107, 32, 150);
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;text-decoration: underline;
    line-height: 2em;
    text-align: center;
}

.page {
    color: rgb(87, 16, 168);
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
   
}
#viewmore {
    font-style: italic;
    text-align: right;
}
.type1, .type2, type3, .type4 {
    border-top: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 50px;
    font-style: oblique;
    color: rgb(231, 228, 225);
}
img {
    border-radius: 70%;
    width: 400px;
    height: 400px;
}

a:link{
    color: rgb(129, 18, 78);
    text-decoration: none;
}
a:visited{
    color: #000;
}
a:hover{
    color: rgb(16, 105, 78);
    text-decoration: underline;
}
a:active{
    color: darkgrey
}
figcaption{
    padding: 5px;
    color: rgb(139, 72, 46);
    line-height: 1.5em;
   text-align: justify;
   border-bottom: 1px solid #000;
}

  
 

 