* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
}
body {
	min-height: 100vh;
	background: url(/images/backgroundimage.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: #a0fc7c;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 0px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}
header .logo {
	font-weight: bolder;
	font-size: 25px;
	color: #333;
}
.navbar-categories {
	list-style: none;
}
.navbar-categories--list {
	position: relative;
	float: left;
}
.navbar-categories--list a {
	font-size: 20px;
	padding: 20px;
	color: #333;
	display: block;
}
.navbar-categories--list a:hover {
	background: #333;
	color: #fff;
}
.photo-categories {
	list-style: none;
	position: absolute;
	left: 0;
	width: 200px;
	background: #fff;
	display: none;
	z-index: 1000;
}
.photo-categories photo-categories--list {
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.photo-list dog__categories {
	position: absolute;
	list-style: none;
	left: 200px;
	top: 65px;
	background: #fff;
	width: 200px;
	display: none;
	z-index: 1000;
}

.navbar .navbar-categories .navbar-categories--list:hover > .photo-categories {
	display: initial;
}

.navbar .photo-categories .photo-categories photo-categories--list:hover > .photo-list dog__categories {
	display: initial;
}
#menu-bar {
	display: none;
}
header label {
	font-size: 20px;
	color: #333;
	cursor: pointer;
	display: none;
}

/*================END OF NAVBAR=====================*/
/*================Categories========================*/
.categories {
	color: #ffffff;
	height: 32rem;
}

.categories h1 {
	color: #a0fc7c;
	line-height: 1;
	margin-bottom: 3rem;
	margin-left: 2rem;
	padding-top: 10px;
}

.containerCategories {
	display: grid;
	grid-template-columns: 40% 60%;
}
.btn-primary {
	color: #c24641;
	background: #f7c94b;
	padding: 1rem;
	border-radius: 2rem;
	margin-left: 2rem;
}

.container__categories container__categories-left {
	margin-right: 4rem;
}

.container__categories container__categories-left p {
	margin: 1rem 0 3rem 1rem;
	padding: rem;
}

.container__categories container__categories-right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem;
	padding-top: 20px;
	padding-right: 20px;
}

.category {
	background: darkkhaki;
	padding: 2rem;
	border-radius: 2rem;
	transition: 400ms ease;
}

.category:hover {
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.category:nth-child(2) .categories category__icon {
	background: #c24641;
}

.category:nth-child(3) .categories category__icon {
	background: #00bf8e;
}

.category:nth-child(4) .categories category__icon {
	background: #f7c94b;
}

.category:nth-child(5) .categories category__icon {
	background: #00bf8e;
}

.categories category__icon {
	background: darkkhaki;
	padding: 0.7rem;
	border-radius: 0.9rem;
}

.category h5 {
	margin: 2rem 0 1rem;
}

.category p {
	font-size: 0.85rem;
}
/*================FOOTER============================*/
footer {
	background: #cdf5ad;
	padding-top: 5rem;
	bottom: 0;
	font-size: 0.9rem;
	width: 100%;
	position: absolute;
}
.container-footer  {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5rem;
}

.container-footer  > div h4 {
	margin-bottom: 1.2rem;
}

.container-footer  container-footer  __first p {
	margin: 0 0 2rem;
}

footer ul li {
	margin-bottom: 0.7rem;
}

footer ul li a:hover {
	text-decoration: underline;
}

.container-footer footer__socials {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	margin-top: 2rem;
	list-style: none;
}

.container-footer footer__copyright {
	text-align: center;
	margin-top: 4rem;
	padding: 1.2rem 0;
	border-top: 1px solid #333;
}
/*=======================END OF FOOTER=================*/
/*=======================MEDIA========================*/
@media (max-width: 1000px) {
	header {
		padding: 20px;
	}
	header label {
		display: initial;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		display: none;
	}
	.navbar-categories--list {
		width: 100%;
	}
	.photo-categories {
		position: relative;
		width: 100%;
	}
	.photo-categories photo-categories--list {
		background: #eee;
	}
	.photo-list dog__categories {
		width: 100%;
		left: 0;
	}
}
#menu-bar:checked ~ .navbar {
	display: initial;
}
