* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	text-decoration: none;
}
body {
min-height: 100vh;
background: url(../images/backgroundimage.jpg) no-repeat;
background-size: cover;
background-position: center;
}
header {
	position: sticky;
	background: #fff;
	top: 0; left: 0; right: 0;
	padding: 20px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}
header .logo {
	font-weight: bolder;
	font-size: 25px;
	color: black;
}
header .navbar ul {
	list-style: none;
}
header .navbar ul li {
	position: relative;
	float: left;
}
header .navbar ul > li > a {
	font-size: 15px;
	padding: 20px;
	color: rgb(0, 0, 0);
	display: inline-block;
}
header .navbar ul li a:hover {
	background: rgba(134, 85, 85, 0.425);
}
header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 200px;
	background: #fff; 
}
header .navbar ul li ul li {
	width: 100%;
	border-top: 1px solid black;
}
header .navbar ul li ul li ul {
left: 200px;
top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
	display: initial;
}

#menu {
	display: none;
}
header label {
	font-size: 20px;
	color: black;
	cursor: pointer;
	display: none;
}
header .navbar {
	position: absolute;
	top: 100%; left: 0; right: 0;
	background: #fff;
	border-top: 1px solid #000;
	display: none;
}
header .navbar ul li ul {
	position: relative;
	width: 100%;
}
header .navbar ul li ul li{
background: #fff;
}
header .navbar ul li ul li ul{
width: 100%;
left: 0;
}
#menu:checked ~ .navbar{
	display: initial;
}











@media(max-width: 1000px){
	header {
		padding : 20px;
	}

	header label {
		display: initial;
	}
}